<td style="overflow-wrap:break-word;word-break:break-word;padding:30px 15px;font-family:'Quicksand',sans-serif;" align="left" width="{{#if width}}{{width}}{{^}}50%{{/if}}">
  <div style="font-size: 14px; line-height: 160%; word-wrap: break-word;">
    {{<content}}
  </div>
</td>
